html, body {
  margin: 0px;
  padding: 0px;
  width:100%;
  height: 100%;
  position: relative;
}

*:hover {
  cursor: default;
}

canvas {
  display: block;
  position: absolute;
  z-index: 1;
}

#menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 72px;
  font-style: bold;
  color: black;
  margin: 0 auto;
  z-index: 2;
}

#menu div {
  margin-top: 20px;
  font-size: 18px;
}

#instructions {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 28px;
  font-style: bold;
  color: black;
  margin: 0 auto;
  z-index: 2;
}

#game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  font-style: bold;
  color: black;
  margin: 0 auto;
  z-index: 2;
}

#game-over div {
  margin-top: 20px;
  font-size: 24px;
}

#game-won {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  font-style: bold;
  color: black;
  margin: 0 auto;
  z-index: 2;
}

#game-won div {
  margin-top: 20px;
  font-size: 24px;
}

.opaque-on-half {
  opacity: 0.25;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.opaque-on-full {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.opaque-off {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
