html, body {
  margin: 0px;
  padding: 0px;
  width:100%;
  height: 100%;
  position: relative;
}

canvas {
  display: block;
  position: absolute;
  z-index: 1;
}

.game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 36px;
  font-style: bold;
  color: black;
  margin: 0 auto;
  z-index: 2;
}

.hidden {
  display: none;
}

.opaque-on {
  /*opacity: 0.25;*/
  opacity: 0.25;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.opaque-off {
  opacity: 1;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}
